/* body{
    background-color: yellow;
} */
.videocontainer{
    /* background-color: rgb(255, 0, 0); */
    /* height: 536px; */
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 90px auto 0;
    padding: 0 16px;
}
.video{
/* background-color: rgb(0, 255, 85); */
position: relative;
width: 100%;
padding-top: 56.25%;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video_name {
    /* background-color: blueviolet; */
    color: white;
    /* bottom: 0;
    position: absolute; */
    font-size: 31px;
    margin-left: 31px;
    font-weight: 700;
}
button.videounderbuttons {
    padding: 6px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 17px;
    margin-left: 31px;
}
button.videounderbuttons:hover{
    color: white;
    background-color: black;
}
.moviedetailundervideo {
    margin-top: 8px;
}
.description{
    margin-left: 31px;
    font-size: 19px;
    margin-top: 10px;
}
